<p>&nbsp;</p>
<p><span style="color: #993300;"><img style="display: block; margin-left: auto; margin-right: auto;"
            src="https://cdn.exoticindia.com/details/books-2017/nzk648.jpg" alt="Surya Siddhant" width="225"
            height="284" /></span></p>
<table style="height: 105px; border-collapse: collapse;" width="562">
    <tbody>
        <tr style="height: 31.1667px;">
            <td style="width: 552.667px; height: 31.1667px; text-align: center;"><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /><img
                    src="https://cdn.dribbble.com/users/411234/screenshots/2427834/star.png" alt="Image result for star"
                    width="53" height="40" /></td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; width: 30%; display: block; margin-left: auto; margin-right: auto; "><strong>The Surya
        Siddhanta is the name of a Sanskrit treatise in Indian astronomy
        from the late 4th-century or early 5th-century CE. The text survives in several versions, was cited and
        extensively quoted in a 6th-century CE text by Varahamihira, was likely revised for several centuries under the
        same title.&nbsp;</strong></p>


<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-8 mb-4 mx-auto">

        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="height: 350px;overflow: auto">
            <div class="card-body">
                <div class="alert alert-secondary" role="alert">
                    <h4 id="section1"><strong>{{Review title}}</strong></h4>
                    <p>{{Review Text}}</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                    qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson
                    aesthetic.
                    Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <h4 id="section1"><strong>First Review</strong></h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                    qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson
                    aesthetic.
                    Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim
                    qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson
                    aesthetic.
                    Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <h4 id="section1"><strong>Second Review</strong></h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure.
                    Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui.</p>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <h4 id="section1"><strong>Third Review</strong></h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out
                    qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                    mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts.</p>
                <p>Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                </div>
                
            </div>
        </div>
    </div>    
</div>
<!-- Grid row -->